<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>SpiderMan_Titan_Hero_12Inch_Action_Figure_5Hnn4mtkFsP</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Spider-Man Titan Hero 12-Inch Action Figure
Spider-Man Titan Hero 12-Inch Action Figure Hasbro Spider-Man Action Figures One bite from a radioactive spider changed Peter Parker's life forever, giving him super-human powers and amazing wall-crawling ability.  Wearing the mask that has made him a legend, he battles evil wherever a hero is needed as the one-and-only Spider-Man!  Super-size your super hero adventures with this incredible Titan Hero Series Ultimate Spider-Man figure!  This 12-inch web-slinging dynamo is ready to open up a large-sized attack on the foes of justice everywhere.  With him at your side, there's no telling where your adventures will take you!  Ages 4 and up.</description>
</model>
