<?xml version='1.0' encoding='UTF-8'?>
<robot name="Bed">
  <link name="base_link">
    <visual>
      <origin xyz="0.0 0 0.0" rpy="1.5708 0.0 0"/>
      <geometry>
        <mesh filename="meshes/bed.dae"/>
      </geometry>
      <material>
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0 0.0" rpy="1.5708 0.0 0"/>
      <geometry>
        <mesh filename="meshes/bed.dae"/>
      </geometry>
    </collision>
  </link>
</robot>
