<?xml version="1.0"?>
<robot name="DiningTable">
  <link name="base_link">
    <!-- Visual elements -->
    <visual name="visual_wood">
      <origin xyz="0.0 0 0" rpy="1.5708 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/model.dae"/>
      </geometry>
      <pose>5 0 0 1.5708 1.5708 0</pose>
      <!-- URDF does not support material definitions like SDF. You should apply materials/textures in the mesh file itself -->
    </visual>
    <!-- Collision elements -->
    <collision name="Box011">
      <geometry>
        <box size="0.058 0.091 1.10422"/>
      </geometry>
      <origin xyz="0.0 0.302465 0.49338" rpy="-1.25664 0.0 0.0"/>
    </collision>
    <collision name="Box010">
      <geometry>
        <box size="0.058 0.091 1.10422"/>
      </geometry>
      <origin xyz="0.0 -0.302465 0.49338" rpy="1.25664 0.0 0.0"/>
    </collision>
    <collision name="Box009">
      <geometry>
        <box size="0.1 0.1 0.736144"/>
      </geometry>
      <origin xyz="-0.361336 -0.961929 0.36405" rpy="-0.10472 0.10472 -0.010472"/>
    </collision>
    <collision name="Box008">
      <geometry>
        <box size="0.1 0.1 0.736144"/>
      </geometry>
      <origin xyz="0.361336 -0.961929 0.36405" rpy="-0.10472 -0.10472 0.010472"/>
    </collision>
    <collision name="Box007">
      <geometry>
        <box size="0.1 0.1 0.736144"/>
      </geometry>
      <origin xyz="0.361336 0.961929 0.36405" rpy="0.10472 -0.10472 -0.010472"/>
    </collision>
    <collision name="Box006">
      <geometry>
        <box size="0.1 0.1 0.736144"/>
      </geometry>
      <origin xyz="-0.361336 0.961929 0.36405" rpy="0.10472 0.10472 0.010472"/>
    </collision>
    <collision name="Box005">
      <geometry>
        <box size="0.084456 0.884815 0.099045"/>
      </geometry>
      <origin xyz="0.0 -0.97917 0.236278" rpy="0.0 0.0 -1.5708"/>
    </collision>
    <collision name="Box004">
      <geometry>
        <box size="0.084456 0.884815 0.099045"/>
      </geometry>
      <origin xyz="0.0 0.97917 0.236278" rpy="0.0 0.0 -1.5708"/>
    </collision>
    <collision name="Box003">
      <geometry>
        <box size="0.0612 2.15808 0.1065"/>
      </geometry>
      <origin xyz="0.0 0.0 0.320813" rpy="0.0 0.0 0.0"/>
    </collision>
    <collision name="Box002">
      <geometry>
        <box size="0.68 1.91 0.1065"/>
      </geometry>
      <origin xyz="0.0 0.0 0.664356" rpy="0.0 0.0 0.0"/>
    </collision>
    <collision name="Box001">
      <geometry>
        <box size="1.0 2.35 0.03"/>
      </geometry>
      <origin xyz="0.0 0.0 0.725" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
</robot>

