<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Razer_Taipan_Black_Ambidextrous_Gaming_Mouse</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Razer Taipan Black - Ambidextrous Gaming Mouse
The Razer Taipan offers 9 Hyperesponse buttons and is ergonomically designed for both right and left handed users. The 8200dpi 4G laser sensor also offers exceptional tracking precision with zero interpolation for high-performance wired gameplay.</description>
</model>
