<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Razer_Goliathus_Control_Edition_Small_Soft_Gaming_Mouse_Mat</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Razer Goliathus Control Edition - Small - Soft Gaming Mouse Mat
Engineered to exceed the exacting demands of the world's top professional gamers, the highly-adaptable Razer Goliathus Control Edition gaming mouse mat is optimized for all mouse sensitivity settings and sensor types, with a rubber base for secure grip on smooth surfaces.</description>
</model>
