<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>ASICS_GELLinksmaster_WhiteRasberryGunmetal</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>ASICS GEL-Linksmaster® - White/Rasberry/Gunmetal
The traditional golfer's saddle design meets comfort and support in this shoe. Waterproof, for the dew-covered grass of early morning rounds, with a stable, supportive sole for comfort and fit. A great bargain.</description>
</model>
