<?xml version="1.0" encoding="UTF-8"?>
<robot name="fridge">

  <!-- Base Link -->
  <link name="base_link">
    <!-- Visual -->
    <visual>
      <geometry>
        <mesh filename="meshes/fridge.dae"/>
      </geometry>
    </visual>
    <!-- Collision -->
    <collision name="Box001">
      <geometry>
        <box size="0.734673 0.7239 1.73585"/>
      </geometry>
      <origin xyz="0.0 0.0 0.867923" rpy="0.0 1.5708 0.0"/>
    </collision>
  </link>

</robot>
