<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Pepsi_Cola_Wild_Cherry_Diet_12_12_fl_oz_355_ml_cans_144_fl_oz_426_lt</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Pepsi Cola, Wild Cherry, Diet - 12 - 12 fl oz (355 ml) cans [144 fl oz (4.26 lt)]
With other natural flavors. 0 calories per can.  Contains no juice.  Sugar free.  Very low sodium, 35 mg or less per 8 fl oz (240 ml).  Caffeine content: 38 mg /12 fl oz.</description>
</model>
