<?xml version="1.0" ?>
<robot name="Weston_No_33_Signature_Sausage_Tonic_12_fl_oz">
  <link name="link_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="1.5" ixy="0.0" ixz="0.0" iyy="1.5" iyz="0.0" izz="1.5"/>
    </inertial>
    <visual name="visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/model.obj"/>
      </geometry>
    </visual>
    <collision name="collision_0">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/model.obj"/>
      </geometry>
    </collision>
  </link>
</robot>
