<?xml version='1.0'?>
<model>
  <name>Cast Iron Radiator</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
    <name>Alexandre Francoeur</name>
    <email>alex@solidstateofmind.com</email>
  </author>

  <description>
    Cast Iron Radiator with temperature assigned. 3d model adapted from https://grabcad.com/library/cast-iron-radiator-3
  </description>
</model>
    