<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>YumYum_D3_Liquid</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Yum-Yum D3 Liquid
Jarrow Formulas Yum-Yum D3 Liquid delivers 200 IU of vitamin D3 (cholecalciferol) per drop. Vitamin D3 is essential for children (and adults) in promoting healthy bones, teeth, brain and immune system.* WARNING: Breast-fed and partially breast-fed infants should not consume more than 400 IU (international units) of vitamin D per day. Limit intake of this product to 2 drops per day in infants.  *These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</description>
</model>
