<?xml version="1.0" ?>
<robot name="Oven">
  <link name="base_link">
    <visual name="visual_oven">
      <origin xyz="0 0 0" rpy="1.5708 0.0 -1.5708"/>
      <geometry>
        <mesh filename="meshes/model.dae" scale="1 1 1">
          <submesh name="Oven" center="false"/>
        </mesh>
      </geometry>
    </visual>
    <collision name="Box001">
      <origin xyz="-0.000304252 -1.66893e-06 0.517103" rpy="0.0 0.0 -1.5708"/>
      <geometry>
        <box size="0.691523 0.96649 1.03421"/>
      </geometry>
    </collision>
  </link>
</robot>
