<?xml version="1.0" ?>
<robot name="MonitorAndKeyboard">
  <link name="monitor">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <visual name="visual_monitor">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/monitor.obj"/>
      </geometry>

    </visual>
    
    <collision name="collision_monitor">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/monitor.obj"/>
      </geometry>
    </collision>
    
  </link>
  <link name="keyboard">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <visual name="visual_keyboard">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/keyboard.obj"/>
      </geometry>
    </visual>
    <collision name="collision_keyboard">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/keyboard.obj"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="fixed_joint"
    type="fixed">
    <origin
      xyz="-1.77 0.0 0.0"
      rpy="0 0 0" />
    <parent
      link="monitor" />
    <child
      link="keyboard" />
    <axis
      xyz="0 0 0" />
  </joint>

</robot>
