<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Phillips_Caplets_Size_24</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Phillips Caplets Size: 24
Laxative Dietary Supplement.  Genuine.  Comfortable relief.  Convenient.  Easy-to-swallow.  Stimulant free.  Cramp free.  Comfortable, cramp-free relief of occasional constipation.  Is the only line of stimulant-free laxatives for overnight relief.  Nothing's been proven more effective and gentle than Phillips.  Please visit our website at www.bayercare.com.  (This statement has not been evaluated by the Food and Drug Administration.  This product is not intended to diagnose, treat, cure, or prevent any disease.)  Made in USA.</description>
</model>
